* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
}

main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  font-family: 'Tangerine', cursive;
  font-size: 50px;
}

.text {
  width: 500px;
  height: 150px;
  resize: none;
  padding: 15px;
  font-size: 18px;
}

.tengwar {
  width: 700px;
  text-align: center;
}

.tengwar-paragraph::after {
  content: url('../interpunction/end-of-paragraph.png');
  position: relative;
  left: 10px;
}

.tengwar-word:not(firstChild) {
  margin-left: 20px;
}
